* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #BDB3A3;
}

h1 {
    padding: 2%;
    background-color: #8197AC;
    color: #314B6E;
    text-align: center;
}

.container {
    width: 100%;
    font-size: 0;
    display: flex;
}



.main {
    flex: 3;
    padding: 2%;
    background-color: #314B6E;    
    font-family: Verdana;
    font-size: 18px;
    color: #0E141C;
}

.sidebar {
    flex: 1;
    padding: 2%;
    background-color: #0E141C;
    font-family: Verdana;
    font-size: 18px;
    color:#BDB3A3;
}

.smiles {
    display: flex;
  }
.s1{
    border: 1px solid #607EA2;
    display: block;
    text-align: center;
}
figcaption {
    color: #8197AC;
    font-style: none;
    padding: none;
    text-align: center;
    display: block;
  }

